html, body {
  margin: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}
  
  
/* HEADER */
header {
  position: absolute;
  letter-spacing: 3px;
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 20px;

  top: 50px;
  left: 50px;

}



/* CANVAS */
#sketch-holder canvas {
  display: block;
}
